{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Facturación</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
        <link href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    </head> 
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home_app:index' %}">Menú</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <h5 class="text-white ml-2  " style="text-align: left;">Bienvenido al Sistema: {{user.first_name}}  {{user.last_name}} </h5>
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                
               
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        {% if request.user.is_staff %}
                        <a class="dropdown-item" href="{% url 'admin:index' %}">Ir al Admin de Facturas</a>
                        {% else %}

                        {% endif %}
                    
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading"><img src="#" class="img-fluid" alt="" ></div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Facturas
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'home_app:index' %}">Todas</a>
                                </nav>
                               
                               
                            </div>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Facturación
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Resumen de Facturación</h1>
                        <ol class="breadcrumb mb-4">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Resumen de Facturación
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="dataTable" class="table table-striped table-bordered display nowrap"  width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Factura</th>                                                
                                                <th>Razón Social</th>                                               
                                                <th>Monto</th>                                               
                                                <th>Fecha de Vencimiento</th> 
                                                <th>Estatus de Pago</th>                              
                                                <th>Pago de Factura</th>                                            
                                                <th>PDF Factura</th>
                                                <th>Comentarios</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <tr>
                                                    <th>Factura</th>                                                
                                                    <th>Razón Social</th>                                               
                                                    <th>Monto</th>                                               
                                                    <th>Fecha de Vencimiento</th>
                                                    <th>Estatus de Pago</th>                                                    
                                                    <th>Pago de Factura</th>                                            
                                                    <th>PDF Factura</th>
                                                    <th>Comentarios</th>
                                                </tr>
                                            </tr>
                                        </tfoot>
                                         
                                        <tbody>
                                            {% for i in factura %}                                           
                                            <tr>
                                                {% if i.factura is null %}
                                                <td></td>
                                                {% else %}                                     
                                                <td>{{i.factura}}</td>
                                                {% endif %}                                                 

                                                <td>{{i.razon_social}}</td>                                            
                                                <td>{{i.monto}}</td>
                                        
                                                {% if i.fecha_vencimiento is null %}
                                                <td></td>
                                                {% else %}                                     
                                                <td>{{i.fecha_vencimiento}}</td>
                                                {% endif %}

                                                {% if i.pago_factura == 'Pagada' %}
                                                    <td class="bg-info text-center">N/A</td>
                                                {% elif i.fecha_vencimiento is null %}
                                                    <td class="bg-warning text-center">Pendiente de Facturar</td>      
                                                {% elif i.is_expired %}
                                                    <td class="bg-success text-center">Vigente</td>                                            
                                                {% else %}
                                                    <td class="bg-danger text-center">Vencido</td>                                            
                                                {% endif %}

                                                <td>{{i.pago_factura}}</td>                                              

                                                {% if i.pdf %}
                                                <td><a href="{{ i.pdf.url }}" download><button class="btn btn-outline-info mr-3">DESCARGAR</button></a></td>
                                                {% else %}
                                                <td><a><button class="btn btn-outline-danger mr-3">PENDIENTE</button></a></td>                           
                                                {% endif %}

                                                <td>{{i.comentarios}}</td>

                                            </tr>                                            
                                            {% endfor %}
                                            
                                         
                                        </tbody>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
        <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
        <script src=""></script>
        <script>
        $(document).ready(function() {
            $('#dataTable').DataTable( {
                dom: 'Blfrtip', 
                lengthMenu: [ [10, 25, 50, -1], ['10 Filas', '25 Filas', '50 Filas', 'Mostrar todo'] ], 
                dom: 'Bfrtip', buttons: [ { extend: 'copy', text: ' Copiar' }, { extend: 'csv', 
                text: ' Exportar a CSV' }, { extend: 'excel', text: ' Exportar a EXCEL' }, 'pageLength' ], }); table.buttons().container() .appendTo('#datatable_wrapper .col-md-6:eq(0)'); }); 
        </script>     

    </body>
</html>