{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>FACTURACION</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

{% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0; {% url 'home_app:index' %} ">
{% else %}
    </head>   



<body>


{% block content %}

<body class="bg-primary">
  <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
          <main>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-5">
                          <div class="card shadow-lg border-0 rounded-lg mt-5">
                              <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                              <div class="card-body">
                                    <form method="POST">  
                                        {% csrf_token %}
                                        <style>.errorlist{color:red;}</style>

                                        {% if form.non_field_errors %}
                                        <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
                                        {% endif %}
                                        <p>
                                        <input type="text" name="username" autofocus maxlength="254" required
                                          id="id_username" class="form-control" placeholder="Nombre de usuario"/>
                                        </p>
                                        <p>
                                        <input type="password" name="password" required
                                          id="id_password" class="form-control" placeholder="Contraseña"/>
                                        </p>
                                        <p><input type="submit" class="btn btn-primary btn-block" value="Acceder"></p>
                                 
                                  
                                    </form>
                              </div>
    
                          </div>
                      </div>
                  </div>
              </div>
          </main>
      </div>
      <div id="layoutAuthentication_footer">
          <footer class="py-4 bg-light mt-auto">
              <div class="container-fluid">
                  <div class="d-flex align-items-center justify-content-between small">
                      <div class="text-muted">Copyright &copy;  2020</div>
                      <div>
                    
                      </div>
                  </div>
              </div>
          </footer>
      </div>
  </div>
 

{% endblock content %}  

{% endif %}

</body>
</html>